@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style type="text/css">
        input {
            border: none;
        }
    </style>
    <link href="~/Content/sharestyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        function showLeftList(divId) {
            self.parent.frames["leftFrame"].showDivMenu(divId);
        }
        function loginOut() {
            top.location.href = "@Url.Action("LoginOut", "User")"; 
        }
        $(function () {
            $(".nav_list ul li a").click(function () {
                //$(".nav_list ul li a").css("color", "#ceebff");
                //$(this).css("color", "yellow");
                $(".nav_list ul li a").css("background-color", "");
                $(".nav_list ul li a").css("color", "#ceebff");
                $(this).css("background-color", "#66d354");
                $(this).css("color", "white");
            });
        });
    </script>
</head>
<body>
    <div class="index_header">
        <div class="index_headertop">
            <div class="index_logo">
                <a href="#">
                    <img src="/images/index_logo.png"></a>
            </div>
            <div class="lgstatus">
                欢迎您，@ViewBag.UserName
                <i><em>20</em></i>可用余额：<span>￥@ViewBag.AvailableBalance</span>&nbsp;&nbsp;&nbsp;
                <input type="submit" value="在线充值" class="btsty2">
            </div>
        </div>
        <div class="clear"></div>
        <div class="index_headerbot">
            <div class="nav_list">
                <ul>
                    <li><a href="#" onclick="showLeftList('divSysManage')">系统管理</a>
                        <div class="nav_out" style="display: none;">
                            <i></i>
                            <p><a href="#">基本信息管理</a></p>
                            <p><a href="#">认证管理</a></p>
                            <p><a href="#">修改密码</a></p>
                        </div>
                    </li>
                    <li class="slctd"><a href="#" onclick="showLeftList('divCustomer')">客户管理</a>
                        <div class="nav_out" style="display: none;">
                            <i></i>
                            <p><a href="#">客户信息列表</a></p>
                        </div>
                    </li>
                    <li class="slctd"><a href="#" onclick="showLeftList('divIncome')">收入管理</a>
                        <div class="nav_out" style="display: none;">
                            <i></i>
                        </div>
                    </li>
                    <li class="slctd"><a href="#" onclick="showLeftList('divCosts')" style="background-color:#66d354;color:white;">成本管理</a>
                        <div class="nav_out" style="display: none;">
                            <i></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fucnbx">
                <span><a href="#" onclick="loginOut()"><i class="i3"></i>退出</a></span>
            </div>
        </div>
    </div>
</body>
</html>


